/* Toolbar area */

.menuBtn,
.userlistBtn,
.backBtn,
.forwardBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
  a {
    color: inherit;
    text-decoration: none;
  }
  &.md-toolbar-logo {
    margin: auto auto auto 0.68em;
  }
  &.md-toolbar-title {
    margin: auto auto auto 0.68em;
  }
}

/* Sidenav area */

md-sidenav {
  &.md-locked-open {
    z-index: 50;
  }
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}

/* Primary content area */

#content {
  overflow: hidden;
}

#content md-content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.action {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
  width: 36px;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

/* Using Data-URI converted from svg until <md-icon> becomes available
https://github.com/google/material-design-icons
*/

.menuBtn {
  background: url("../res/menu_white.svg") no-repeat center center;
}

.backBtn {
  background: url("../res/ic_arrow_back_24px.svg") no-repeat center center;
}

.forwardBtn {
  background: url("../res/ic_arrow_forward_24px.svg") no-repeat center center;
}

.userlistBtn {
  background: url("../res/ic_group_24px.svg") no-repeat center center;
}

#sideUserList {
  .message-zone-avatar {
    border: 1px solid #ddd;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 24px;
    min-width: 0;
    margin-right: 5px;
    img {
      border-radius: 24px;
      height: 48px;
      width: 48px;
      box-sizing: content-box;
    }
  }
}

#content {
  padding: 0 16px;
  md-item:not(:last-child) {
    .message-item-content {
      border-bottom: 1px solid #ddd;
    }
  }
  .message-item-content {
    align-items: flex-start;
    padding-bottom: 5px;
    .message-content {
      p {
        font-size: 1em;
        &.join {
          color: darkgreen;
          font-style: italic;
        }
        &.error {
          color: firebrick;
          font-style: italic;
        }
        &.old {
          color: #aaa;
        }
        span.count {
          min-width: 16px;
          background-color: #e62;
          color: white;
          border-radius: 3px;
          border: none;
          font-size: 11px;
          line-height: 17px;
          text-align: center;
          vertical-align: top;
          text-transform: uppercase;
          margin: 0;
          padding: 0 3px;
          text-indent: 0;
          display: inline-block;
          margin-top: 6px;
        }
      }
      footer {
        font-size: 0.75em;
        color: #aaa;
      }
    }
    .message-zone-avatar {
      border: 1px solid #ddd;
      display: inline-block;
      margin: 16px 0 0;
      vertical-align: top;
      height: 50px;
      width: 50px;
      border-radius: 24px;
      min-width: 0;
      img {
        border-radius: 24px;
        height: 48px;
        width: 48px;
        margin: 0;
        box-sizing: content-box;
      }
    }
  }
}
