@import "compass/css3/flexbox";

.message-content {
  p {
    position: relative;
    font-size: 1em;
    &.old {
      color: silver;
    }
    &.info {
      color: #881280;
      font-style: italic;
    }
    &.join {
      color: #236E25;
      font-style: italic;
    }
    &.error {
      color: #C80000;
      font-style: italic;
    }
    .count {
      background: #C80000;
      border-radius: 20px;
      color: white;
      font-size: 0.75em;
      font-weight: bold;
      padding: 1px 5px;
    }
  }
  footer {
    font-size: 0.75em;
    color: silver;
  }
}
.message-zone-avatar {
  img {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 16px;
  }
}
md-item-content.message-item-content {
  @include align-items(flex-start);
}

#zone_chat {
  overflow-y: auto;
  overflow-x: hidden;
}
.title-bar {
  position: fixed;
  top:0;
  left:0;
  right:0;
    
}
.main-section {
  margin-top: 64px;
}

#formulaire_chat {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}