html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-rendering:optimizespeed;
  font: 15px/160% "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  background: whitesmoke;
  color: #555;
}


a {
  color: #0084B4;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#zone_chat {
  position: absolute;
  top: 68px;
  left: 0;
  right: 250px;
  bottom: 50px;
  margin:0;padding:0;
  padding-bottom: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
  .ligne {
    position: relative;
    line-height: 32px;
    clear: both;
    img {
      vertical-align: top;
    }
    .lineTimer {
      position: absolute;
      top: 0;
      right: 3px;
      font-size: 10px;
      color: silver;
    }
    .premier {
      width: 160px;
      text-align: right;
      /* margin-right: 10px; */
      float: left;
    }
    .second {
      min-height: 32px;
      overflow: visible;
      overflow-wrap: break-word;
      padding-right: 70px;
      word-wrap: break-word;
      text-overflow: ellipsis;
      margin-left: 170px;
      padding-left: 10px;
      border-left: 1px #555 dotted;

    }
    &.old {
      color: #c0c0c0;
    }
    &:nth-child(odd) {
      background: #EEE;
    }
    &.info {
      color: #2ECC40;
    }
    &.attack {
      color: #B10DC9;
    }
    &.join {
      color: #2ECC40;
    }
    &.part {
      color: #0074D9;
    }
    &.error {
      color: #FF4136;
    }
    &.debug {
      color: #888;
    }
  }
}

#formulaire_chat {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 250px;
  height: 50px;
  background: white;
  margin:0;padding:0;
}

#message {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 4px;
  font-size: 30px;
  background: whitesmoke;
  &:focus {
    background: white;
    outline: none;
  }
}

#about_zone {
  position: absolute;
  bottom: 0; right:0;
  width: 250px;
  background: #0074D9;
  height: 50px;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 11px;
  a {
    color: white;
  }
}

#userlist {
  width: 250px;
  position: absolute;
  top:68px; right:0; bottom:50px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  ul{
    list-style-type: none;
    padding-left: 15px;
  }
}

header {
  height: 68px;
  overflow: hidden;
  background: #0074D9;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
  color: white;
  h1 {
    margin: 0 7px;
    line-height: 68px;
    display: inline-block;
    a {
      text-decoration: none;
      color: white;
    }
    small {
      font-size: 0.5em;
      color: #eee;
    }
  }
  div {
    float: right;
    height: 62px;
    padding: 3px;
  }
}
