html, body {
  height: 100%; width: 100%; overflow: hidden; margin: 0; padding: 0;
  text-rendering:optimizespeed;font:16px/160% "Nexa Light","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
  background: whitesmoke;
  color: #555;
}


a {
  color: #0084B4;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#zone_chat {
  position: absolute;
  top: 68px;
  left: 0;
  right: 250px;
  bottom: 50px;
  margin:0;padding:0;
  padding-bottom: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
  .ligne {
    position: relative;
    line-height: 32px;
    img {
      vertical-align: top;
    }
    .lineTimer {
      position: absolute;
      top: 0;
      right: 3px;
      font-size: 10px;
      color: silver;
    }
    .premier {
      display: inline-block;
      width: 160px;
      border-right: 1px black dotted;
      text-align: right;
      margin-right: 10px;
      padding-right: 10px;
    }
    .second {
      display: inline-block;

    }
    &.old {
      color: #c0c0c0;
    }
    &:nth-child(odd) {
      background: #EEE;
    }
    &.info {
      color: #2ECC40;
    }
    &.attack {
      color: #B10DC9;
    }
    &.join {
      color: #2ECC40;
    }
    &.part {
      color: #0074D9;
    }
    &.error {
      color: #FF4136;
    }
  }
}

#formulaire_chat {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 250px;
  height: 50px;
  background: white;
  margin:0;padding:0;
}

#message {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 4px;
  font-size: 30px;
}

#about_zone {
  position: absolute;
  bottom: 0; right:0;
  width: 250px;
  background: #0074D9;
  height: 50px;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 11px;
  a {
    color: white;
  }
}

#userlist {
  width: 250px;
  position: absolute;
  top:68px; right:0; bottom:50px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  ul{
    list-style-type: none;
    padding-left: 15px;
  }
}

header {
  height: 68px;
  overflow: hidden;
  background: #0074D9;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
  color: white;
  h1 {
    margin: 0 7px;
    line-height: 68px;
    display: inline-block;
    a {
      text-decoration: none;
      color: white;
    }
    small {
      font-size: 0.5em;
      color: #eee;
    }
  }
  div {
    float: right;
    height: 62px;
    padding: 3px;
  }
}
